/* General Styling */
body {
    background-image: url(images/paw-pattern.jpg);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center; /* Center the content in the header */
    background-color: #ff8796;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    position: absolute; /* Keeps the logo at the top left */
    top: 20px;
    left: 20px;
    width: 70px;
    height: auto;
}

.title h1 {
    font-family: 'Cute Font', cursive; /* Use Cute Font for the title */
    font-size: 3rem;
    color: white;
    margin: 0 0 20px 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    transition: color 0.3s ease; 
}

/* Hover effect for nav items */
nav ul li a:hover {
    color: #fbe4db; /* Change color on hover */
    background-color: #fff; 
    border-radius: 5px;
}

/* Facts Section */
section.facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.fact-box {
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 30px;
    padding: 20px;
    margin: 15px;
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers text and image inside each fact box */
=======
    padding: 0 40px;
>>>>>>> 91a533c662e6d27d69f5d7720ed5ee88c66de149
}

.fact-box img {
    max-width: 100%;
    height: auto;
    border-radius: 14px;
    margin-bottom: 15px; 
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Pseudo-Classes and Pseudo-Elements */
nav ul li a:hover {
    color: ff8796;
}

.fact-box:hover {
    background-color: #ffebcc;
}

.fact-box::before {
    content: '🐾 ';
    font-size: 1.5rem;
}

footer::before {
    content: '💖 ';
    font-size: 1.2rem;
}

a {
    color: white;
}

/* Responsive design for smaller screens */
@media (max-width: 700px) {
    .logo img {
        position: static; 
    }

    section.facts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fact-box {
        width: 70%;
    }
}
